doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.googleapis.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap")
    title Student Chat Bot
  body
    div(class="main__block")
      #{a}
      div(class="container")
        div(class="container__insider")
          div(class="container__title") Student Chat Bot
          div(class="container__box")
            form(action="/" method="post") 
              div(class="container__box__item")
                label Enter Your Query :
              div(class="container__box__item")
                input(type="text" name="query")
              div(class="container__box__item")
                button Talk
  script(src="js/app.js")
